<div class="row user-show">
  <div class="col col-4">
    <h1> Your Bucket List</h1>
  </div>
  <div class="col col-4 wbl-menu">
    <%= link_to 'Add a destination', new_user_destination_path(current_user),
      class: "wbl-link", remote: true %>
  </div>
</div>

<section id="add_destination">
</section>

<%= render 'destinations' %>



