
  <div class="col col-2 dest">
    <h4 class="todo_name"> <%= todo.name %> </h4>
    <%= link_to 'Del', todo, method: :delete, class: "wbl-link-small" %>
    <p class="todo_location"> at <%= todo.location %></p>
  </div>
  
