  <%= div_for todo, class: "col col-2" do %>
  <div class="todo_card dest">
    <h4 class="todo_name"> <%= todo.name %> </h4>
    <%= link_to 'Del', todo, method: :delete, class: "wbl-link-small", remote: true %>
    <p class="todo_location"> at <%= todo.location %></p>
  </div>
<% end %>
